body{
    background-color: rgb(229, 232, 243);
    display:flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}


.navbar{
    
    display:flex;
    flex-direction: column;
    height:100px;
    width:fit-content;
    padding-right:40px;
    padding-bottom: 58%;
    line-height: 40px;
    background-color: rgb(7, 7, 36);
    color:rgb(183, 183, 209);

}

.navbar ul{
    list-style:none;

}

.titre{
    
    color:white;
    font-size: 25px;
    margin: 30px;
    margin-left:0px;
}

.soustitre{
    color:rgb(89, 89, 107);
}

header, footer {
    
    display:flex;
    background-color: white;
    color:black;
    

}

footer{
    margin-top:73px;
}

.pagesimple{
    margin:10px;
    margin-right: 40px;
    display:flex;
    font-size: 20px;

}

.donneestableau{
    margin:10px;
    display:flex;
    
   
}

.alex{
    margin:10px;
    display:flex;
    

}

.main{
    width:100%;
    
}

.fakenews, .bdd{
    display:flex;
    flex-direction: column;
    line-height: 2px; 
    margin-left: 200px;
    margin-top: 50px;
    background-color: white;
    color:black;
    width:1200px;
    border-radius: 4px;
    
}

table, th, tr, td{
    border: 1px solid rgb(197, 197, 197);
    border-collapse: collapse;
    padding:20px;
    
}

th{
    text-align: left;
}

table, p{
    margin:20px;
}
