body{
    background-image: url(Images/fond.jpg);
    margin:auto;
    padding:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    height:100vh;
    
}

.corps{
   
    background-color: rgba(88, 91, 231, 0.6);
    height:100vh;
    width: 100%;
    margin:0px;
    padding:0px;
}

h1{
    text-align: center;
    color: white;
    margin:0px;
    padding:20px;
}

h2{
    text-align: center;
    color:white;
    font-size: 12px;
    margin-bottom:30px;
}
.formulaire{
    background-color: rgb(39, 20, 65);
    height:26%;
    width:26%;
    margin:auto;
    padding:22px;
    

}

.content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height:24px;  
    
}

.text {
    display:block;
  
}

fieldset{
    border: none
   
}

.checkbox{
    display:block;
}


.text input, textarea, select, button {
width: 100%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 10px;

}

.text input, textarea {
    width: 98%;
}


button {
    color:white;
    background-color:green;
}